<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      House
    </p>
    <a href="#" class="card-header-icon" aria-label="more options">

    </a>
  </header>
  <div class="card-content">
    <div class="content">
      <img src="<%= men.man_url ? men.man_url : 'http://i.imgur.com/VIlnrL8.jpg' %>"></img>
      <p>
        <b>Name:</b>
        <%= men.man_name %>
          <br>
          <b>Words:</b>
          <%= men.man_url %>
            <br>
            <b>Seat:</b>
            <%= men.emotion %>
              <br>
              
      </p>
    </div>
  </div>

</div>