<link href="https://fonts.googleapis.com/css?family=Griffy" rel="stylesheet">
<!-- <style>
  body {
    background-image: url("https://www.dropbox.com/s/9jdep4od3suuqmw/mrmen.jpg?dl=0");
    size: 110%;
  }
</style> -->
<img src = "https://www.dropbox.com/s/9jdep4od3suuqmw/mrmen.jpg?dl=0">
<h1>
  <center>
    <font face="Griffy" size="20">Which one of the Mr Men are you?</font>
  </center>
</h1>

<form action="/action.php" method="post">
  <center>
    <font face="Griffy" size 10>twitter username:</font>
    <input twitter username="username" type="text" vspace="120" />

    <input type="submit" value="Submit" />
  </center>
</form>